// Media Query Mixins
@mixin media($breakpoint) {
    @if $breakpoint == "sm-down" {
        @media (max-width: 767px) {
            @content;
        }
    } 
    @if $breakpoint == "sm-up" {
        @media (min-width: 768px) {
            @content;
        }
    } 
    @else if $breakpoint == "md-only" {
        @media (min-width: 768px) and (max-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint == "lg-down" {
        @media (min-width: 1201px) {
            @content;
        }
    }
    @else if $breakpoint == "lg-up" {
        @media (min-width: 1201px) {
            @content;
        }
    }
}

// Styles for .container
.g-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    @include media("sm-up") {
        max-width: 1200px;
    }
}

body {
    background-color: $bg-color-body;
    color: $color-body;
    font-family: $font-family-primary;
    font-optical-sizing: auto;
    font-size: 20px;
    line-height: 1.2;
    overflow-x: hidden;
}

@mixin scrollbar($size, $front-color, $back-color) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $front-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $back-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $front-color;
      scrollbar-track-color: $back-color;
    }
}