
// background
$bg-color-body: #151413;

// Colors
$color-body: #ffffff;
$color-primary: #e6562a;
// 8dac86

$color-primary-1: #ca431c;
$color-primary-2: #f66233;
$color-primary-3: #db552d;

// Indents
$padding-container: 15px;
